.user-input {
    width: 50%;
    position: fixed;
    left: 25%;
    height: 5rem;
    bottom: 0%;
    background-color: #282c34;
    z-index: 3;
}
.markdown-body{
    padding-top: 1rem;
    background-color: #282c34 !important;
    color: #fff !important;
    font-size: 14px !important;
}
.loading {
    width: 50%;
    margin: 0 25%;
    text-align: center;
    transform: translate(0,-8rem);
}

.user {
    width: 50%;
    margin: 0 25%;
    color: #fff;
    display: flex;
    overflow: hidden;
    padding-top: 1rem;
}

.bot {
    width: 50%;
    margin: 0 25%;
    color: #fff;
    display: flex;
    overflow: hidden;
    padding-top: 1rem;
}

.user-img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

.context {
    flex: 1;
    word-break: break-all;
    padding-top: 1rem;
}

.content-manage {
    overflow-y: scroll;
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10rem;
}
.markdown-body .highlight pre, .markdown-body pre{
    background-color: #282c34 !important;
}